# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

data/glove/
data/SNLI/
data/MultiNLI/
data/amazon/
data/botbot/
data/CoNLL-2003/
data/quora/
data/fasttext/
data/wikitext2/
data/wikitext2raw/
data/wikitext103/
data/wikitext103raw/
data/glove
data/GloVe
data/bookcorpus/
data/fb_test/
data/1-billion-word-language-modeling-benchmark-r13output/
data/imdb/
data/binary_sst/
data/semeval/
data/openwebtext/
data/stories_corpus/
data/*.zip
data/*.txt
output/
flask_app/uploads/

logs/
runs/
\.ipynb_checkpoints/
text_classification/convnet/_keras/model/
text_classification/convnet/logs/
text_classification/convnet/model/
text_classification/crnn/logs/
text_classification/crnn/model/
text_classification/fast_text/logs/
text_classification/fast_text/model/
fastText/
pretrained/
word_vectors/
onnx/

*.json
*.bin
*.vec
*.h5
*.train
*.all

\.DS_Store

\.idea/
data/MSRParaphraseCorpus/

data/vn_treebank/

DEBUG

third_party/

flask_app/config.cfg
*.onnx

vi-corpus.bin
wikitext-maskedlm-data.bin

# temporary corpus files
corpus-*/
corpus-*.txt
vocab.json
