annoy==1.13.0
blingfire==0.0.9
click==6.7
fasteners==0.14.1
fasttext==0.9.1
Flask==1.0.3
Flask-Cors==3.0.7
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10
lz4==2.1.0
MarkupSafe==1.0
monotonic==1.5
nltk==3.3
numpy==1.16.4
pymagnitude==0.1.120
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
torch==1.1.0
Werkzeug==0.14.1
xxhash==1.2.0
