astroid==2.2.5
backcall==0.1.0
bleach==1.5.0
blingfire==0.0.9
certifi==2019.3.9
cffi==1.12.3
decorator==4.4.0
html5lib==0.9999999
ipython==7.5.0
ipython-genutils==0.2.0
isort==4.3.19
jedi==0.13.3
lazy-object-proxy==1.4.1
Markdown==3.1
mccabe==0.6.1
mkl-fft==1.0.12
mkl-random==1.0.2
nltk==3.4.1
numpy==1.16.3
olefile==0.46
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
prompt-toolkit==2.0.9
protobuf==3.7.1
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.4.0
pylint==2.3.1
six==1.12.0
tensorboardX==1.6
tensorflow-tensorboard==0.1.8
torch==1.1.0
torchvision==0.2.2
tqdm==4.31.1
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.15.4
wrapt==1.11.1
