absl-py==0.1.10
bleach==1.5.0
certifi==2018.4.16
cffi==1.11.5
Cython==0.28.2
html5lib==0.9999999
joblib==0.11
Markdown==2.6.11
mkl-fft==1.0.0
mkl-random==1.0.1
nltk==3.3
numpy==1.14.3
olefile==0.45.1
Pillow==5.1.0
protobuf==3.5.2.post1
pycparser==2.18
six==1.11.0
tensorboardX==1.2
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1
torch==0.4.0
torchvision==0.2.1
webencodings==0.5
Werkzeug==0.14.1
